*{
  box-sizing: border-box;    
}

body{
    background: #fff;
    margin: 0;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.nav-item-right{
    float: right;
}

.brand{
    color:black;
    font-size: 20px;
}

#main-content{
    background: #fff;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

#banner{
    background-color: #152942;
    color: #282828;
    width: 100%;
    height: 300px;
    background-image: url(Debian_logo.png);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.column1{
    position: absolute;
    width: 500px;
    top: 25%;
    background-color: #fff;
    left: 300px;
    border-radius: 6px;
    z-index: 500;
    box-shadow: 0px 1px 3px #282828;
}

.column2{
    position: absolute;
    width: 500px;
    top: 25%;
    background-color: #fff;
    right: 300px;
    border-radius: 6px;
    z-index: 500;
    box-shadow: 0px 1px 3px #282828;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
      position: absolute;
    display: block;
    margin-bottom: 10px;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
      position: absolute;
      
    display: block;
    margin-bottom: 10px;
  }
}



